* {
    margin: 0;
    padding: 0;

    font-family: "Nimbus Mono PS";
}

body {

}

.container {
    margin: 0 25%;
    background-color: #EFEFEF;
}

.header {
    padding: 25px 30px;
    display: flex;
}

.header .first {
    width: 50%;
    display: flex;
    justify-context: center;
    align-items: center;
}

.header .first .profile-img {
    display: inline-block;
    border-radius: 50%;
    width: 75px;
}

.header .first .profile-txt-group {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-content: center;
}

.header .first .title {

}

.header .first .subtitle {
    font-size: 20px;
}

.header .second {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
 }

.header .second .right-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
 }

.header .second .right-container .row {
    font-size: 14px;
    font-family: "Courier 10 Pitch";
    color: #3c3c3c;
}

.divider {
    height: 3px;
    background-color: #e6a500;
}

.personal-profile {
    padding: 25px 30px;
    display: grid;
    grid-template-columns: 25% 70%;
    column-gap: 5%;
}

.personal-profile .fist {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.personal-profile .fist .topic {
    color: #c8a500;
    font-weight: bold;
    font-style: italic;
    font-size: 18px;
    padding: 5px;
}

.personal-profile .second {
    font-family: Arial;
    line-height: 1.5;
    color: #3c3c3c;
}

